TEST_WS_CMD/Connected Services/NS_WS_GUITARE_LOCAl/WS_GUITARE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Get_Date">
        <s:complexType />
      </s:element>
      <s:element name="Get_DateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_DateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Get_DateSoapIn">
    <wsdl:part name="parameters" element="tns:Get_Date" />
  </wsdl:message>
  <wsdl:message name="Get_DateSoapOut">
    <wsdl:part name="parameters" element="tns:Get_DateResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_GUITARESoap">
    <wsdl:operation name="Get_Date">
      <wsdl:input message="tns:Get_DateSoapIn" />
      <wsdl:output message="tns:Get_DateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_GUITARESoap" type="tns:WS_GUITARESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_Date">
      <soap:operation soapAction="http://tempuri.org/Get_Date" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_GUITARESoap12" type="tns:WS_GUITARESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_Date">
      <soap12:operation soapAction="http://tempuri.org/Get_Date" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_GUITARE">
    <wsdl:port name="WS_GUITARESoap" binding="tns:WS_GUITARESoap">
      <soap:address location="https://localhost:44340/WS_GUITARE.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_GUITARESoap12" binding="tns:WS_GUITARESoap12">
      <soap12:address location="https://localhost:44340/WS_GUITARE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>